<% if flash.has?(:message) %>
  <h5><%= flash[:message] %></h5>
<% end %>
<h1>Welcome, <%= @user.username %></h1><a href="/users/<%= @user.slug %>"><h3>Pofile Page</h3></a>

<br></br>
<h1>Create a New Tweet <a href="/tweets/new">Tweet</a></h1>
<br></br>
<% Tweet.all.each do |tweet| %>
  <%if tweet.user %>
    <h4>Author Name: <a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a></h4>
  <% end %>
  <h4>Tweet content</h4>
  <h6><%= tweet.content %></h6>
  <br>
  <a href="/tweets/<%= tweet.id %>/edit">Edit Content</a>
  <br></br>
  <form method="post" action="/tweets/<%= tweet.id %>/delete"> 
    <input type="submit" value="Delete">
  </form>
  <p>------------------------</p>
<% end %>